* {
    box-sizing: border-box;
}

body {
    padding-top: 20px;
}

.wrapper {
    margin: 0 auto;
    
    width: 100%;
    max-width: 1440px;
    min-width: 320px;

    /* width: 1240px; */

    border: 2px solid #000;
}

.top,
.bottom {
    display: flex;
    justify-content: space-evenly;

    text-align: center;
}

.box1,
.box2,
.box3,
.box4,
.box5,
.box6 {
    width: 250px;
    margin: 25px;
    padding: 25px;
    
    box-shadow: 2px 2px 12px rgb(131, 130, 130);

    flex-grow: 1;
}

.box1 { 
    background-color: rgb(253, 212, 136);
}

.box2 { 
    background-color: rgb(48, 228, 235);
}

.box3 { 
    background-color: rgb(191, 51, 226);
    color: rgb(255, 255, 255);
}

.box4 { 
    background-color: rgb(132, 103, 236);
    color: rgb(255, 255, 255);
}

.box5 { 
    background-color: rgb(106, 245, 129);
}

.box6 { 
    background-color: rgb(253, 136, 152);
}

/* Если ширина экрана меньше 1024рх */
@media (max-width: 1024px) {
    .box3,
    .box4 {
        display: none;
    }
}

/* Если ширина экрана меньше 768рх */
@media (max-width: 768px) {
    /* .wrapper {
        width: 768px;
    } */

    .box1,
    .box6 {
        display: none;
    }
}

/* Если ширина экрана меньше 320рх */
@media (max-width: 320px) {
    /* .wrapper {
        width: 320px;
    } */

    .box2 {
        display: none;
    }
}
